@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;


}

.head-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    cursor: default;
}

.head-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    margin: 10px auto;
    background: red;
    border-radius: 5px;
}

.head-content h1 {
    font-size: 6vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 3px 15px;
    background: red;
    border-radius: 30px;
    color: whitesmoke;
}

ul {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
    justify-content: space-between;
}


.nav-links {
    display: flex;
    align-items: center;



}

.nav-links li {
    display: flex;
    align-items: flex-end;
    margin: 0 30px;
}

.active {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section {
    width: 80%;
    margin: 80px auto;

}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(9, 9, 32);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.col img {
    width: 300px;
    height: 150px;
    align-items: top;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: rgb(0, 0, 0);
    margin: 20px auto;
    font-weight: bold;
}

p {
    color: rgb(59, 59, 61);
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/2895566/pexels-photo-2895566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width:60%;
    padding:50px;
    color:whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
        font-size: 7vmin;
        
}

.explore-content .line{
    margin-bottom:50px;
}
.explore-content p{
    font-size: 3vmin;
    color:white;
}
.explore-content .ctn{
    margin-top: 40px;
}
.content-col{
    width: 60%;
}
.imgage-col{
    width: 30%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width:230px;
    margin: 10px;
}

.content-col h1{
    font-size: 7vmin;
    color:rgb(37, 36, 36);
    font-weight: bold;
    text-align: center;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding:0;
    margin:30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer{
    width:100%;
    min-height:100px;
    padding:20px 70px;
    margin:0;
    background: rgb(19, 6, 19);
    text-align: center;
}
.footer p{
    color:rgb(207, 207, 207);
    margin:20px auto;
    padding: 200px auto;

}
/*mobile */
@media only screen and (max-width:850px) {
    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;

    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #000000ec;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 20%;
    }

    .nav-links li {
        margin: 30px auto;

    }
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
        height: 100%;
    }
    .footer{
        padding: 10px;
    }
    .content-col .ctn{
        margin-left: 8%;
    }
}

/*animation*/

img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: red;
    box-shadow: 2px 2px 5px rgb(17, 17, 17);
}
li:hover{
    color:red;
    cursor: pointer;
}